<%= form_for(menu, html: {multipart: true}) do |f| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="make">
  <div class="field">
    <%= f.label '음식' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label '가격' %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label '내용' %>
    <%= f.text_area :content %>
  </div>
  
  <div class="field">
    <%= f.label '사진'%>
    <%= f.file_field :image %>
  </div>
  
  <%= f.hidden_field :shop_id %>
</div>
</br>
</br>
  <div class="actions">
    <%= f.submit "새 메뉴 추가하기", class:"add" %>
  </div>
<% end %>
