<p id="notice"><%= notice %></p>

<h1>Menus</h1>

<table>
  <thead>
    <tr class="container">
      <th class="item">이름</th>
      <th class="item">가격</th>
      <th class="item">내용</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr class="container">
        <td class="item"><%= menu.name %></td>
        <td class="item"><%= menu.price %></td>
        <td><%= menu.content %></td>
        <td><%= link_to '보기', menu %></td>
        <td><%= link_to '수정', edit_menu_path(menu) %></td>
        <td><%= link_to '삭제', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새 메뉴 추가하기', new_menu_path, class:"new"%>
