<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @menu.image.url %><br>
</p>
<p>
  <strong>이름</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>가격</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>내용</strong>
  <%= @menu.content %>
</p>

<%= link_to '수정', edit_menu_path(@menu) %> 
<%= link_to '뒤로가기', menus_path(@menu) %>
