<%= form_for(shop, html: {multipart: true}) do |f| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '가게이름' %>
    <%= f.text_field :name, placeholder:"ex) 푸야네 가게" %>
  </div>

  <div class="field">
    <%= f.label '영업시간' %>
    <%= f.text_field :open, placeholder:'ex) 평일 18:00~24:00' %>
  </div>

  <div class="field">
    <%= f.label '전화번호' %>
    <%= f.text_field :tel, placeholder:'ex) 010-0000-0000' %>
  </div>
  
  <div class="field">
    <%= f.label '사진'%>
    <%= f.file_field :image %>
  </div>

  <%= f.hidden_field :market_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
