<%= form_for(shop_review) do |f| %>
  <% if shop_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop_review.errors.count, "error") %> prohibited this shop_review from being saved:</h2>

      <ul>
      <% shop_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '제목' %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label '내용' %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label '별점' %>
    <%= f.text_field :rate %>
  </div>

  <%= f.hidden_field :date, value: DateTime.now.to_date %>
  <!-- <div class="field">
    <%= f.label '날짜' %>
    <%= f.date_select :date %>
  </div> -->
  <%= f.hidden_field :shop_id, value: 1 %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
