<%= form_for(market_review, html: {multipart: true}) do |f| %>
  <% if market_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(market_review.errors.count, "error") %> prohibited this market_review from being saved:</h2>

      <ul>
      <% market_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '제목' %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label '내용', placeholder:"추천메뉴, 위생상태 등 다양하게 작성해주세요" %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label '별점', placeholder:"5.0" %>
    <%= f.text_field :rate %>
  </div>

  <div class="field">
    <%= f.label '사진'%>
    <%= f.file_field :image %>
  </div>
  <%= f.hidden_field :date, value: DateTime.now.to_date %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :market_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
