<%= form_for(market_review) do |f| %>
  <% if market_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(market_review.errors.count, "error") %> prohibited this market_review from being saved:</h2>

      <ul>
      <% market_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label '야시장 이름', placeholder:"야시장 이름을 입력해주세요" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label '내용', placeholder:"추천메뉴, 위생상태 등 다양하게 작성해주세요" %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label '별점', placeholder:"5.0" %>
    <%= f.text_field :rate %>
  </div>

  <div class="field">
    <%= f.label '날짜'%>
    <%= f.date_select :date %>
  </div>

  <%= f.hidden_field :user_id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
