<p id="notice"><%= notice %></p>

<h1>야시장-후기 페이지(/market/review_list)(시장)</h1>

<table>
  <thead>
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>별점</th>
      <th>날짜</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @market_reviews.each do |market_review| %>
      <tr>
        <td><%= market_review.title %></td>
        <td><%= market_review.content %></td>
        <td><%= market_review.rate %></td>
        <td><%= market_review.date %></td>
        <td><%= link_to '보기', market_review %></td>
        <% if market_review.user == current_user %>
          <td><%= link_to '수정', edit_market_review_path(market_review) %></td>
          <td><%= link_to '삭제', market_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    
      <!-- '야시장 후기 카드' 시작 부분 이에요 -->
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="사진">
    <div class="card-body">
      <h5 class="card-title">제목</h5>
      <p class="card-text">별점</p>
      <p class="card-text">내용</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">날짜</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="사진">
    <div class="card-body">
      <h5 class="card-title">제목</h5>
      <p class="card-text">별점</p>
      <p class="card-text">내용</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">날짜</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="사진">
    <div class="card-body">
      <h5 class="card-title">제목</h5>
      <p class="card-text">별점</p>
      <p class="card-text">내용</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">날짜</small>
    </div>
  </div>
</div>
<!-- '야시장 후기 카드' 끝부분 입니다 -->
    

<%= link_to '새 후기 작성하기', new_market_review_path, class:"new" %>

