<p id="notice"><%= notice %></p>

<p>
  <strong>야시장 후기</strong>
  <%= @market_review.title %>
</p>

<p>
  <strong>내용</strong>
  <%= @market_review.content %>
</p>

<p>
  <strong>별점</strong>
  <%= @market_review.rate %>
</p>

<p>
  <strong>날짜</strong>
  <%= @market_review.date %>
</p>

<%= link_to '수정', edit_market_review_path(@market_review) %> |
<%= link_to '뒤로', market_reviews_path %>
